$black: #202124;
$lightgray: #cdcad3;
$blue: #ccf;
$yellow: #fd8;
$red: #e88;
$green: #cfc;

@font-face {
	font-family: 'Pixelar';
	src: url('../../fonts/Pixelar.woff2') format('woff2'), url('../../fonts/Pixelar.woff') format('woff');
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	user-select: none;
}

html {
	background-color: $black;
	color: $lightgray;
}

.red {
	color: $red;
}

.yellow {
	color: $yellow;
}

.blue {
	color: $blue;
}

.green {
	color: $green;
}

.cookie {
	color: #ec9;
}

a {
	color: $blue;
	text-decoration: none;
}

a,
span,
p {
	font-family: Pixelar;
}

div.mge-main {
	position: relative;

	canvas {
		background-color: transparent;
	}

	div.mge-overlay {
		img.gif {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -36px);
			width: 64px;
			image-rendering: pixelated;
		}

		.message,
		p.version {
			position: absolute;
			text-align: center;
			font-size: 24px;
			margin: 0px 10%;
			width: 80%;
		}

		.message {
			top: 50%;
			transform: translate(0, 36px);
		}

		p.version {
			bottom: 8px;
			opacity: 0.2;
		}

		#landscape,
		#fullscreen,
		#help,
		#loading,
		#error,
		#compatibility,
		#cookies,
		#update-ready,
		#update-done {
			background-color: $black;
		}

		#loading {
			.load-bar {
				position: absolute;
				width: 128px;
				height: 4px;
				left: 50%;
				top: 50%;
				transform: translate(-64px, 72px);
			}

			#load-bar-back {
				background-color: $lightgray;
				opacity: 0.1;
			}

			#load-bar-front {
				width: 0px;
				background-color: $lightgray;
			}
		}

		#blank {
			span#fps {
				position: absolute;
				font-size: 2em;
				left: 6vh;
				top: 5vh;
			}
		}
	}
}
