@font-face {
  font-family: 'Pixelar';
  src: url("../../fonts/Pixelar.woff2") format("woff2"), url("../../fonts/Pixelar.woff") format("woff");
}

html,
body {
  background-color: #202124;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
a,
blockquote,
h1,
h2,
h3 {
  font-family: Pixelar;
  color: #cdcad3;
}

a {
  color: #ccf;
  text-decoration: none;
}

h1 {
  font-size: 5vw;
  font-weight: normal;
  margin-left: 5vw;
}

blockquote {
  margin: 0.8em 0.5em;
  padding: 0em 0.5em;
  font-size: 1.6em;
  border-left: 0.16em solid #cdcad3;
}

hr {
  margin: 2em;
  opacity: 0.1;
  background-color: #cdcad3;
  height: 0.2em;
}

*::-moz-selection {
  background-color: transparent;
  color: transparent;
}

*::selection {
  background-color: transparent;
  color: transparent;
}

p::-moz-selection {
  background: white;
  color: #202124;
}

p::selection {
  background: white;
  color: #202124;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.appear {
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.button {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.button .shadow {
  top: 0.4vw !important;
}

.button img {
  width: 100%;
  position: absolute;
}

.button p {
  -webkit-transform: translateY(-0.1vw);
          transform: translateY(-0.1vw);
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 4.7vw;
  color: #202124;
}

.pressed {
  -webkit-transition: none;
  transition: none;
  opacity: 0.5;
}

.pressed img {
  top: 0.4vw;
}

.pressed p {
  -webkit-transform: translateY(0.35vw);
          transform: translateY(0.35vw);
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

#load {
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64px;
}

#flag {
  width: 5vw;
  right: 0vw;
  margin: 2vw 0vw;
}

#title {
  position: absolute;
  width: 40vw;
  left: 50%;
  top: 20vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#play-btn {
  left: 50%;
  top: 35vw;
  width: 14vw;
}

#chapters {
  position: absolute;
  top: 54.5vw;
  height: 28vw;
  width: 100%;
}

#chapters #QR {
  width: 22vw;
  position: absolute;
  left: 8vw;
  top: 14.5vw;
}

#chapters #google-play {
  position: absolute;
  width: 30vw;
  left: 50vw;
  top: 38vw;
}

#chapters #google-play p {
  padding: 0.7vw 0vw 0vw 4vw;
  color: #cdcad3;
}

#about {
  position: absolute;
  top: 100vw;
  width: 100%;
}

#about .optrans {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#about .hovering {
  position: absolute;
}

#about .highlight {
  opacity: 0;
}

#about .highlight:hover {
  opacity: 1;
}

#about #eliot-hover {
  width: 5.36vw;
  top: 36vw;
  left: 18vw;
}

#about #shabyn-hover {
  width: 5.36vw;
  top: 31vw;
  left: 22vw;
}

#about #piet-hover {
  width: 5.36vw;
  top: 29vw;
  left: 16vw;
}

#about #lea-hover {
  width: 5.36vw;
  top: 32vw;
  left: 10vw;
}

#about #sheep-hover {
  width: 6.5vw;
  top: 18vw;
  left: 12vw;
}

#about #creature {
  width: 5.3vw;
  top: 40vw;
  left: 4vw;
}

#about #presentation {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  position: absolute;
  font-size: 2.6vw;
  text-align: justify;
  top: 12.5vw;
  left: 43vw;
  right: 3vw;
}

#about #background-about-mobile,
#about #background-about-desk,
#about #background-about-strat-mobile,
#about #background-about-strat-desk {
  position: absolute;
  width: 100%;
}

.footer-text {
  font-size: 2.6vw;
}

#contact {
  position: absolute;
  width: 40%;
  top: 160vw;
  left: 3vw;
}

#contact .separator {
  height: 0.3vw;
  width: 60%;
  background-color: #cdcad3;
  opacity: 0.2;
  margin: 1.5vw 0vw 0.5vw 0vw;
}

#donate {
  position: absolute;
  width: 40%;
  top: 160vw;
  left: 50vw;
}

#donate #donate-button {
  width: 19vw;
  left: 50%;
  top: 8vw;
}

#meh-img {
  position: absolute;
  left: 50%;
  width: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#meh,
#text-404 {
  position: absolute;
  text-align: center;
  width: 100%;
}

#meh {
  font-size: 6vw;
  top: 22vw;
}

#icon {
  width: 4em;
  margin-left: 1em;
  margin-bottom: 1em;
}

#text-404 {
  font-size: 4vw;
  top: 30vw;
  margin-bottom: 5vw;
}

.desk {
  display: inline;
}

.mobile {
  display: none;
}

#copyright {
  position: absolute;
  top: 178vw;
  text-align: center;
  width: 100%;
  font-size: 2.4vw;
  opacity: 0.5;
  padding: 3vw 0vw;
}

@media (max-width: 600px) {
  h1 {
    font-size: 11vw;
  }
  .desk {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .button .shadow {
    top: 0.8vw !important;
  }
  .button p {
    font-size: 9.3vw;
  }
  .pressed {
    -webkit-transition: none;
    transition: none;
    opacity: 0.5;
  }
  .pressed img {
    top: 0.8vw;
  }
  .pressed p {
    -webkit-transform: translateY(0.35vw);
            transform: translateY(0.35vw);
  }
  #flag {
    width: 10vw;
    margin: 5vw 0vw;
  }
  #title {
    position: absolute;
    width: 74vw;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    left: 50%;
    top: 40vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #play-btn {
    left: 50%;
    top: 70vw;
    width: 28vw;
  }
  #chapters {
    top: 128vw;
    height: 28vw;
    width: 100%;
  }
  #chapters #QR {
    width: 56vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 84vw;
  }
  #chapters #google-play {
    width: 60vw;
    left: 50vw;
    top: 140vw;
  }
  #chapters #google-play p {
    padding: 1.4vw 0vw 0vw 8vw;
  }
  #about {
    top: 300vw;
    width: 100%;
  }
  #about #eliot-hover {
    width: 12vw;
    top: 68vw;
    left: 52vw;
  }
  #about #shabyn-hover {
    width: 12vw;
    top: 55vw;
    left: 62vw;
  }
  #about #piet-hover {
    width: 12vw;
    top: 52vw;
    left: 46vw;
  }
  #about #lea-hover {
    width: 12vw;
    top: 61vw;
    left: 32vw;
  }
  #about #sheep-hover {
    width: 14vw;
    top: 30vw;
    left: 40vw;
  }
  #about #creature {
    width: 11vw;
    top: 60vw;
    left: 12vw;
  }
  #about #presentation {
    font-size: 6vw;
    top: 100vw;
    left: 6vw;
    right: 6vw;
  }
  .footer-text {
    font-size: 6vw;
  }
  #contact {
    top: 572vw;
    left: 6vw;
    right: 6vw;
    width: auto;
  }
  #contact .separator {
    left: 6vw;
    right: 6vw;
    margin-top: 4vw;
    margin-bottom: 3vw;
    height: 0.6vw;
    width: auto;
  }
  #donate {
    top: 534vw;
    left: 6vw;
    right: 6vw;
    width: auto;
  }
  #donate #donate-button {
    width: 38vw;
    left: 50%;
    top: 20vw;
  }
  #meh-img {
    width: 40%;
  }
  #meh {
    font-size: 12vw;
    top: 42vw;
  }
  #text-404 {
    font-size: 6vw;
    top: 70vw;
  }
  #copyright {
    top: 617vw;
    font-size: 5.4vw;
    margin-bottom: 5vw;
  }
}
/*# sourceMappingURL=style.css.map */