$black: #202124;
$lightgray: #cdcad3;
$blue: #ccf;
$yellow: #fd8;
$red: #e88;
$green: #cfc;

@font-face {
	font-family: 'Pixelar';
	src: url('../../fonts/Pixelar.woff2') format('woff2'), url('../../fonts/Pixelar.woff') format('woff');
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	user-select: none;
}

.red {
	color: $red;
}

.yellow {
	color: $yellow;
}

.blue {
	color: $blue;
}

.green {
	color: $green;
}

.cookie {
	color: #ec9;
}

a,
span,
p {
	font-family: Pixelar;
}

a {
	color: $blue;
	text-decoration: none;
}

a.btn {
	position: absolute;

	p {
		position: absolute;
		text-align: center;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	}

	canvas {
		position: absolute;
	}
}
a.pressed {
	opacity: 0.5;
}

a.btn.fadein {
	animation: 0.4s btn-fade-in;
}

a.btn.fadeout {
	transition: opacity 0.4s;
	opacity: 0;
}

@keyframes btn-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: inherit;
	}
}
