$black: #202124;
$lightgray: #cdcad3;
$blue: #ccf;
$yellow: #fd8;
$red: #e88;
$green: #cfc;

@font-face {
	font-family: 'Pixelar';
	src: url('../fonts/Pixelar.woff2') format('woff2'), url('../fonts/Pixelar.woff') format('woff');
}

html,
body {
	background-color: $black;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

p,
a,
blockquote,
h1,
h2,
h3 {
	font-family: Pixelar;
	color: $lightgray;
}

a {
	color: $blue;
	text-decoration: none;
}

h1 {
	font-size: 5vw;
	font-weight: normal;
	margin-left: 5vw;
}

blockquote {
	margin: 0.8em 0.5em;
	padding: 0em 0.5em;
	font-size: 1.6em;
	border-left: 0.16em solid $lightgray;
}

hr {
	margin: 2em;
	opacity: 0.1;
	background-color: $lightgray;
	height: 0.2em;
}

*::selection {
	background-color: transparent;
	color: transparent;
}

p::selection {
	background: white;
	color: $black;
}

img {
	image-rendering: pixelated;
}

.button {
	position: absolute;
	opacity: 1;
	transition: opacity 0.5s;
	transform: translateX(-50%);
	// height: 1vw;

	.shadow {
		top: 0.4vw !important;
	}

	img {
		width: 100%;
		position: absolute;
	}

	p {
		transform: translateY(-0.1vw);
		text-align: center;
		width: 100%;
		position: absolute;
		font-size: 4.7vw;
		color: $black;
	}
}

.pressed {
	transition: none;

	opacity: 0.5;
	img {
		top: 0.4vw;
	}

	p {
		transform: translateY(0.35vw);
	}
}

.hidden {
	display: none;
}

.transparent {
	opacity: 0;
}

.bg {
	position: absolute;
	width: 100%;
	z-index: -1;
}

#load {
	position: absolute;
	z-index: -2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
}

#flag {
	width: 5vw;
	right: 0vw;
	margin: 2vw 0vw;
}

#title {
	position: absolute;
	width: 40vw;
	opacity: 1;
	transition: opacity 0.5s;
	left: 50%;
	top: 20vw;
	transform: translateX(-50%);
}

#play-btn {
	left: 50%;
	top: 35vw;
	width: 14vw;
}

#chapters {
	position: absolute;
	top: 54.5vw;
	height: 28vw;
	width: 100%;

	#QR {
		width: 22vw;
		position: absolute;
		left: 8vw;
		top: 14.5vw;
	}

	#google-play {
		position: absolute;
		width: 30vw;
		left: 50vw;
		top: 38vw;

		p {
			padding: 0.7vw 0vw 0vw 4vw;
			color: $lightgray;
		}
	}
}

#about {
	position: absolute;
	top: 100vw;
	width: 100%;

	.optrans {
		transition: opacity 0.5s;
	}

	.hovering {
		position: absolute;
	}

	.highlight {
		opacity: 0;
	}

	.highlight:hover {
		opacity: 1;
	}

	#eliot-hover {
		width: 5.36vw;
		top: 36vw;
		left: 18vw;
	}

	#shabyn-hover {
		width: 5.36vw;
		top: 31vw;
		left: 22vw;
	}

	#piet-hover {
		width: 5.36vw;
		top: 29vw;
		left: 16vw;
	}

	#lea-hover {
		width: 5.36vw;
		top: 32vw;
		left: 10vw;
	}

	#sheep-hover {
		width: 6.5vw;
		top: 18vw;
		left: 12vw;
	}

	#creature {
		width: 5.3vw;
		top: 40vw;
		left: 4vw;
	}

	#presentation {
		transition: color 0.5s;
		position: absolute;
		font-size: 2.6vw;

		text-align: justify;
		top: 12.5vw;
		left: 43vw;
		right: 3vw;
	}

	#background-about-mobile,
	#background-about-desk,
	#background-about-strat-mobile,
	#background-about-strat-desk {
		position: absolute;
		width: 100%;
	}
}

.footer-text {
	font-size: 2.6vw;
}

#contact {
	position: absolute;
	width: 40%;
	top: 160vw;
	left: 3vw;

	.separator {
		height: 0.3vw;
		width: 60%;
		background-color: $lightgray;
		opacity: 0.2;
		margin: 1.5vw 0vw 0.5vw 0vw;
	}
}

#donate {
	position: absolute;
	width: 40%;
	top: 160vw;
	left: 50vw;

	#donate-button {
		width: 19vw;
		left: 50%;
		top: 8vw;
	}
}

#meh-img {
	position: absolute;
	left: 50%;
	width: 20%;
	transform: translateX(-50%);
}

#meh,
#text-404 {
	position: absolute;
	text-align: center;
	width: 100%;
}

#meh {
	font-size: 6vw;
	top: 22vw;
}

#icon {
	width: 4em;
	margin-left: 1em;
	margin-bottom: 1em;
}

#text-404 {
	font-size: 4vw;
	top: 30vw;
	margin-bottom: 5vw;
}

.desk {
	display: inline;
}

.mobile {
	display: none;
}

#copyright {
	position: absolute;
	top: 177vw;
	text-align: center;
	width: 100%;
	font-size: 2.4vw;
	opacity: 0.5;
	margin-bottom: 1vw;
}

@media (max-width: 600px) {
	h1 {
		font-size: 11vw;
	}

	.desk {
		display: none;
	}

	.mobile {
		display: inline;
	}

	.button {
		.shadow {
			top: 0.8vw !important;
		}

		p {
			font-size: 9.3vw;
		}
	}

	.pressed {
		transition: none;

		opacity: 0.5;
		img {
			top: 0.8vw;
		}

		p {
			transform: translateY(0.35vw);
		}
	}

	#flag {
		width: 10vw;
		margin: 5vw 0vw;
	}

	#title {
		position: absolute;
		width: 74vw;
		opacity: 1;
		transition: opacity 0.5s;
		left: 50%;
		top: 40vw;
		transform: translateX(-50%);
	}

	#play-btn {
		left: 50%;
		top: 70vw;
		width: 28vw;
	}

	#chapters {
		top: 128vw;
		height: 28vw;
		width: 100%;

		#QR {
			width: 56vw;
			left: 50%;
			transform: translateX(-50%);
			top: 84vw;
		}

		#google-play {
			width: 60vw;
			left: 50vw;
			top: 140vw;

			p {
				padding: 1.4vw 0vw 0vw 8vw;
			}
		}
	}

	#about {
		top: 300vw;
		width: 100%;

		#eliot-hover {
			width: 12vw;
			top: 68vw;
			left: 52vw;
		}

		#shabyn-hover {
			width: 12vw;
			top: 55vw;
			left: 62vw;
		}

		#piet-hover {
			width: 12vw;
			top: 52vw;
			left: 46vw;
		}

		#lea-hover {
			width: 12vw;
			top: 61vw;
			left: 32vw;
		}

		#sheep-hover {
			width: 14vw;
			top: 30vw;
			left: 40vw;
		}

		#creature {
			width: 11vw;
			top: 60vw;
			left: 12vw;
		}

		#presentation {
			font-size: 6vw;
			top: 100vw;
			left: 6vw;
			right: 6vw;
		}
	}

	.footer-text {
		font-size: 6vw;
	}

	#contact {
		top: 572vw;
		left: 6vw;
		right: 6vw;
		width: auto;

		.separator {
			left: 6vw;
			right: 6vw;
			margin-top: 4vw;
			margin-bottom: 3vw;
			height: 0.6vw;
			width: auto;
		}
	}

	#donate {
		top: 534vw;
		left: 6vw;
		right: 6vw;
		width: auto;

		#donate-button {
			width: 38vw;
			left: 50%;
			top: 20vw;
		}
	}

	#meh-img {
		width: 40%;
	}

	#meh {
		font-size: 12vw;
		top: 42vw;
	}

	#text-404 {
		font-size: 6vw;
		top: 70vw;
	}

	#copyright {
		top: 617vw;
		font-size: 5.4vw;
		margin-bottom: 5vw;
	}
}
