@font-face {
  font-family: 'Pixelar';
  src: url("../fonts/Pixelar.woff2") format("woff2"), url("../fonts/Pixelar.woff") format("woff");
}

html,
body {
  background-color: #202124;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
a,
h1 {
  font-family: Pixelar;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.button {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1vw;
}

.button .shadow {
  top: 0.4vw !important;
}

.button img {
  width: 100%;
  position: absolute;
}

.button p {
  -webkit-transform: translateY(-0.1vw);
          transform: translateY(-0.1vw);
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 4.7vw;
  color: #202124;
}

.pressed {
  -webkit-transition: none;
  transition: none;
  opacity: 0.5;
}

.pressed img {
  top: 0.4vw;
}

.pressed p {
  -webkit-transform: translateY(0.35vw);
          transform: translateY(0.35vw);
}

.hidden {
  display: none;
}

.bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

#load {
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64px;
}

#flag {
  width: 5vw;
  right: 0vw;
  margin: 2vw 0vw;
}

#title {
  position: absolute;
  width: 40vw;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  left: 50%;
  top: 20vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#play-btn {
  left: 50%;
  top: 35vw;
  width: 14vw;
}

#links {
  position: absolute;
  top: 58vw;
  height: 28vw;
}

#links #QR {
  width: 22vw;
  position: absolute;
  left: 20vw;
}

#links #google-play {
  position: absolute;
  width: 30vw;
  left: 65vw;
  top: 8vw;
}

#links #google-play p {
  color: #cdcad3;
  padding: 0.7vw 0vw 0vw 4vw;
}

@media (max-width: 600px) {
  .button .shadow {
    top: 0.8vw !important;
  }
  .button p {
    font-size: 9.3vw;
  }
  .pressed {
    -webkit-transition: none;
    transition: none;
    opacity: 0.5;
  }
  .pressed img {
    top: 0.8vw;
  }
  .pressed p {
    -webkit-transform: translateY(0.35vw);
            transform: translateY(0.35vw);
  }
  #background-top-desk {
    display: none;
  }
  #background-top-mobile {
    display: inline !important;
  }
  #flag {
    width: 10vw;
    margin: 5vw 0vw;
  }
  #title {
    position: absolute;
    width: 74vw;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    left: 50%;
    top: 40vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #play-btn {
    left: 50%;
    top: 70vw;
    width: 28vw;
  }
  #links {
    top: 130vw;
    height: 80vw;
  }
  #links #QR {
    width: 50vw;
    left: 25vw;
  }
  #links #google-play {
    position: absolute;
    width: 60vw;
    height: 5px;
    top: 56vw;
    left: 50vw;
  }
  #links #google-play p {
    left: 4vw;
    top: 1vw;
  }
}
/*# sourceMappingURL=style.css.map */