$black: #202124;
$lightgray: #cdcad3;
$blue: #ccf;
$yellow: #fd8;
$red: #e88;
$green: #cfc;

@font-face {
	font-family: 'Pixelar';
	src: url('../fonts/Pixelar.woff2') format('woff2'), url('../fonts/Pixelar.woff') format('woff');
}

html,
body {
	background-color: $black;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

p,
a,
h1 {
	font-family: Pixelar;
}

img {
	image-rendering: pixelated;
}

.button {
	position: absolute;
	opacity: 1;
	transition: opacity 0.5s;
	transform: translateX(-50%);
	// height: 1vw;

	.shadow {
		top: 0.4vw !important;
	}

	img {
		width: 100%;
		position: absolute;
	}

	p {
		transform: translateY(-0.1vw);
		text-align: center;
		width: 100%;
		position: absolute;
		font-size: 4.7vw;
		color: $black;
	}
}

.pressed {
	transition: none;

	opacity: 0.5;
	img {
		top: 0.4vw;
	}

	p {
		transform: translateY(0.35vw);
	}
}

.hidden {
	display: none;
}

.bg {
	position: absolute;
	width: 100%;
	z-index: -1;
}

#load {
	position: absolute;
	z-index: -2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
}

#flag {
	width: 5vw;
	right: 0vw;
	margin: 2vw 0vw;
}

#title {
	position: absolute;
	width: 40vw;
	opacity: 1;
	transition: opacity 0.5s;
	left: 50%;
	top: 20vw;
	transform: translateX(-50%);
}

#play-btn {
	left: 50%;
	top: 35vw;
	width: 14vw;
}

#links {
	position: absolute;
	top: 58vw;
	height: 28vw;

	#QR {
		width: 22vw;
		position: absolute;
		left: 20vw;
	}

	#google-play {
		position: absolute;
		width: 30vw;
		left: 65vw;
		top: 8vw;

		p {
			color: $lightgray;
			padding: 0.7vw 0vw 0vw 4vw;
		}
	}
}

@media (max-width: 600px) {
	.button {
		.shadow {
			top: 0.8vw !important;
		}

		p {
			font-size: 9.3vw;
		}
	}

	.pressed {
		transition: none;

		opacity: 0.5;
		img {
			top: 0.8vw;
		}

		p {
			transform: translateY(0.35vw);
		}
	}

	#background-top-desk {
		display: none;
	}

	#background-top-mobile {
		display: inline !important;
	}

	#flag {
		width: 10vw;
		margin: 5vw 0vw;
	}

	#title {
		position: absolute;
		width: 74vw;
		opacity: 1;
		transition: opacity 0.5s;
		left: 50%;
		top: 40vw;
		transform: translateX(-50%);
	}

	#play-btn {
		left: 50%;
		top: 70vw;
		width: 28vw;
	}

	#links {
		top: 130vw;
		height: 80vw;

		#QR {
			width: 50vw;
			left: 25vw;
		}

		#google-play {
			position: absolute;
			width: 60vw;
			height: 5px;
			top: 56vw;
			left: 50vw;

			p {
				left: 4vw;
				top: 1vw;
			}
		}
	}
}
